/* Reset some default styles to create a consistent base */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the entire page */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style the header area */
header {
    background-color: #C3D898;
    color: #333;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    font-size: 36px;
    font-family: "Georgia", Times, serif;
    padding: 15px 0;
}

header h2 {
    font-size: 30px;
    padding: 15px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Style the main content area */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 33px;
    margin-bottom: 10px;
    font-family: "Georgia", Times, serif;
    padding: 5px 0;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Georgia", Times, serif;
    padding: 10px 0;
}

main p {
    font-size: 16px;
    line-height: 1.4;
    font-family: "Georgia", Times, serif;
    padding: 10px 0;
}

button {
    background-color: #EDE4FF; /* Lavender */
    border: none;
    color: #4a4a4a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Georgia", Times, serif;
}

/* Style the footer area */
footer {
    background-color: #C3D898;
    color: #4a4a4a;
    text-align: center;
    padding: 10px 0;
}

/* Add hover effect for navigation links */
nav ul li a:hover {
    text-decoration: underline;
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
    main {
        margin: 10px;
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }
}
